<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI Server</title>
    <link rel="stylesheet" href="/statics/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/statics/index.css">
</head>
<body>
{{define "item"}}
<li>
    {{if .IsDir}}
    <i class="fas fa-folder-open " style="color: #FFD43B;"></i>
    <span class="folder">{{.Name}}</span>
    {{else}}
    {{if eq .Item.App "openapi"}}
    <i class="fas fa-file-code" style="color: #74C0FC;"></i>
    <a title="{{.Item.URI}}" href="/statics/redoc?file={{.Item.URI}}">{{.Item.Title}}</a>
    <span>（<a title="{{.Item.URI}}" href="/statics/swagger?file={{.Item.URI}}">Swagger</a>）</span>
    {{else if eq .Item.App "markdown"}}
    <i class="fas fa-file-word" style="color: #74C0FC;"></i>
    <a title="{{.Item.URI}}" href="/mdview/{{.Item.URI}}"> {{.Item.Title}} </a>
    {{else if eq .Item.App "text"}}
    <i class="fas fa-file" style="color: #74C0FC;"></i>
    <a title="{{.Item.URI}}" href="/statics/text?file={{.Item.URI}}"> {{.Item.Title}} </a>
    {{end}}
    {{end}}

    {{if .IsDir}}
    <ul>
        {{range .Children}}
        {{template "item" .}}
        {{end}}
    </ul>
    {{end}}
</li>
{{end}}

<ul>
    {{range .}}
    {{template "item" .}}
    {{end}}
</ul>
</body>
</html>